<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= t!(@conn, "layouts.application.title") %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <%= if logged_in(@conn) do %>
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <%= form_tag logout_path(@conn, :logout), method: :post, "data-remote": true, id: "logout" do %>
            <%= submit "Log out", class: "btn btn-primary logout" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render "_flashes.html", conn: @conn %>

    <%= if logged_in(@conn) do %>
      <div id="loggedin_app"/>
    <% else %>
      <div id="loggedout_app"/>
    <% end %>
    <script src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
  </body>
</html>
