<ul>
  <li>
    <strong>Topic:</strong>
    <%= @room.topic %>
  </li>
</ul>

<div id="messages"></div>
<input id="chat-input" type="text"></input>
<div class="hidden" id="room" data-room_id="<%= @room.id %>"></div>
<div class="hidden" id="user_id" data-user_id="<%= @current_user.id %>"></div>

<%= for message <- @room.messages do %>
  <ul>
    <li>
      <%= message.text %>
    </li>
  </ul>
<% end %>

<%= link "Back", to: rooms_path(@conn, :index) %>
