<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="text-center">
      <%= t!(@conn, "pages.index.title") %>
    </h2>
  </div>
</div>

<div class="jumbotron">
<div class="row">
  <div class="col-md-6">
    <%= render(RealtimeChat.SessionView, "_login.html", conn: @conn) %>
  </div>
  <div class="col-md-6">
    <%= render(RealtimeChat.SessionView, "_register.html", conn: @conn) %>
  </div>
</div>

