<div class="jumbotron">
<div class="row">
  <div class="col-lg-6">
    <%= render(RealtimeChat.SessionView, "_login.html", conn: @conn) %>
  </div>
  <div class="col-lg-6">
    <%= render(RealtimeChat.SessionView, "_register.html", conn: @conn) %>
  </div>
</div>

